body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D3557;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

/* this centers the flick logo */
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Add a black background color to the top navigation */
.topnav 
{
    background-color: #A8DADC;
    overflow: hidden;
    border-top: solid;
    border-bottom: solid;
    border-color: #111;
    border-width: 5px;
}

/* The sidebar menu */
.sidenav 
{
    height: 100%; 
    background-color: #333;
    overflow-y: scroll;
    border-right-style: solid;
    border-color: #111;
    border-width: 5px;
}

/* The navigation menu links */
.sidenav a 
{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover 
{
    color: #fcd630;
}

.sidenav-poster {
    display: inline-block;
    width: 200px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: 5px;
    border: 1px solid #333; /* Add a border around each poster */
}
.sidenav-poster:hover {
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.2s;
}

/* Style page content */
.main 
{
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.button
{
    background-color: #888;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 45%;
    left: 47.5%;
}

.button:hover {background-color: #fff}

.button:active 
{
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.like
{
    background-color: #00ff00;
    border-radius: 20%;
    bottom: auto;
}

.dislike
{
    background-color: #ff0000;
    border-radius: 20%;
    bottom: auto;           /* Added this */
}

/* Add CSS styles to create the stacked effect */
.poster-container 
{
    position: relative;
    left: 5%;
}

.poster-image 
{
    position: absolute;
    width: 500px;
    border: 1none;
}

/* Style the images based on their index */
.poster-image:nth-child(odd) 
{
    top: 15px;
    left: 15px;
}

/* Ensure that at least 5 cards are visible on the stack */
.poster-image:nth-child(n + 6) 
{
    display: none;
}

/* Filled out container */
.container
{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.button-container
{
    position: absolute;
    right: 910px;
    bottom: 20px;
    margin: auto;
    display: flex;
}

h1 
{
    font-family: helvetica;
    font-size: 400%;
    color:black;
}

h2 
{
    font-family: helvetica;
    font-size: 200%;
    color: black;
}

.navbar 
{
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 100;
}

.change 
{
    right: 0;
}

.hamburger-menu 
{
    background-color: none;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-contanier{
    height: 100%;
}

.left-container{
    height: 100%;
    width: 35%;
    float: left;
}

.right-container {
    height: 100%;
    width: 65%;
    float: right;
}


.line
{
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.8s;
}

.change .line-1 
{
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background-color: #fff;
}

.change .line-2
{
    opacity: 0;
}

.change .line-3 
{
    transform: rotateZ(405deg) translate(-8px, -6px);
    background-color: #fff;
}

.nav-list 
{
    text-align: right;
}

.nav-item 
{
    list-style: none;
    margin: 25px;
}

.nav-link 
{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding-right: 3px;

}

.nav-link:hover         /* Added this */
{
    color: #fcd630;
}

.nav-link::before, .nav-link::after 
{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #262626;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after 
{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before 
{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before .nav-link:hover::after 
{
    transform: scaleX(1);
}
