body                /*Mix of body and tinder classes*/
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D3557;
    overflow: hidden;
    margin: 0;
}

.bottom-container
{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: calc(100vh - 10vh);
}

.left-container
{
    height: inherit;
    width: 33.5%;
    background-color: #333;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.right-container
{
    height: inherit;
    width: 66.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* this centers the flick logo
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 20vw;
} */

/* Add a black background color to the top navigation */
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #A8DADC;
    overflow: hidden;
    /* border-top: solid;
    border-bottom: solid;
    border-color: #111;
    border-width: 5px; */
}

.logo{
    height: 50px;
}

.button                 /*Comparable to tinder--buttons button*/
{
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.button-container       /*Comparable to tinder--buttons class*/
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.like:hover {background-color: #60a8ab}

.dislike:hover {background-color: #555}

.button:active 
{
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.like               /*Comparable to fa-heart*/
{
    background-color: #A8DADC;
    /* margin-left: 5vb; */
    border-radius: 12px;
    /* bottom: auto; */
}

.dislike            /*Comparable to fa-remove*/
{
    background-color: #333;
    /* margin-right: 5vb; */
    border-radius: 20%;
    /* bottom: auto;           Added this */
}

.minus-sign{
    background-color: #A8DADC;
    width: 40px;
    height: 10px;
    border-radius: 10px;
}

.plus-sign1{
    background-color: #333;
    width: 40px;
    height: 10px;
    border-radius: 10px;
}

.plus-sign2{
    background-color: #333;
    width: 40px;
    height: 10px;
    border-radius: 10px;
    transform: rotate(90deg);
    position: absolute;
}

.navbar 
{
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 100;
}

.change 
{
    right: 0;
}

.hamburger-menu 
{
    background-color: none;
    width: 50px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 200;
}

.line
{
    width: 50px;
    height: 5px;
    background-color: #333;
    transition: all 0.8s;
}

.change .line-1 
{
    transform: rotateZ(-405deg) translate(0vw, 1.1em);
    background-color: #fff;
}

.change .line-2
{
    opacity: 0;
}

.change .line-3 
{
    transform: rotateZ(405deg) translate(0vw, -1.1em);
    background-color: #fff;
}

.nav-list 
{
    text-align: right;
}

.nav-item 
{
    list-style: none;
    margin: 25px;
}

.nav-link 
{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding-right: 3px;

}

.nav-link:hover         /* Added this */
{
    color: #fcd630;
}

.nav-link::before, .nav-link::after 
{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #262626;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after 
{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before 
{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before .nav-link:hover::after 
{
    transform: scaleX(1);
}

#swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    aspect-ratio: 2 / 3;
    perspective: 600px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    transform: translateZ(calc(-30px * var(--i)))
        translateY(calc(-20px * var(--i))) rotate(calc(-1deg * var(--i)));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    -webkit-user-select: none; /* Added for Safari support */
    user-select: none; /* Added for compatibility */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.left-container .card {
    display: inline-block;
    width: 10vw;
    height: 15vw;
    margin: 3px;
    /* border: 1px solid #333; */
}

.liked-cards-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
}

.left-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.liked-card {
  position: relative; /* or any other desired position */
  /* Add other styles as needed */
}


@media (max-width: 768px) {
    .header {
        width: 100%;
        height: 5vh;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .logo{
        height: 30px;
    }

    .hamburger-menu {
        position: fixed;
        top: 10px;
        right: 25px;
        width: 40px;
        height: 25px;
        z-index: 200;
    }

    .line{
        width: 30px;
        height: 4px;
        transition: all 0.8s;
    }

    .change .line-1 
    {
        transform: rotateZ(-405deg) translate(0vw, .58em);
        background-color: #fff;
    }

    .change .line-3 
    {
        transform: rotateZ(405deg) translate(0vw, -.68em);
        background-color: #fff;
    }

    .bottom-container
    {
        height: calc(100vh - 5vh);
        flex-direction: column-reverse;
    }

    .left-container
    {
        width: 100%;
        height: 45%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .right-container
    {
        width: 100%;
        height: 55%;
    }

    /* .liked-cards-container
    {
        width: 100%;
        height: 50%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;j
    } */
    
    .button-container
    {
        padding: 10px;
    }

    .button
    {
        width: 40px;
        height: 40px;
    }


    .minus-sign{
        width: 30px;
        height: 7px;
    }

    .plus-sign1{
        width: 30px;
        height: 7px;
    }

    .plus-sign2{
        width: 30px;
        height: 7px;
    }

    .navbar 
    {
        width: 35%;
        height: 100%;
        background-color: #262626;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5% 0 0 5%;
        transition: right .8s cubic-bezier(1, 0, 0, 1);
        z-index: 100;
    }

    .change 
    {
        right: 0;
    }

    .nav-list 
    {
        text-align: center;
    }

    .nav-item 
    {
        list-style: none;
        margin: 25px;
    }

    .nav-link 
    {
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        color: #eee;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding-right: 3px;
    
    }

    .nav-link:hover         /* Added this */
    {
        color: #fcd630;
    }

    .nav-link::before, .nav-link::after 
    {
        content: "";
        width: 45%;
        height: 2px;
        background-color: #262626;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
    }
    
    .nav-link::after 
    {
        bottom: 0;
        transform-origin: right;
    }

    .nav-link::before 
    {
        top: 0;
        transform-origin: left;
    }

    .nav-link:hover::before .nav-link:hover::after 
    {
        transform: scaleX(1);
    }

    #swiper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        aspect-ratio: 2 / 3;
        perspective: 300px;
        perspective-origin: center 50%;
        transform-style: preserve-3d;
        position: relative;
    }

    .card {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 3px;
        overflow: hidden;
        transform: translateZ(calc(-30px * var(--i)))
            translateY(calc(-20px * var(--i))) rotate(calc(-1deg * var(--i)));
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        -webkit-user-select: none; /* Added for Safari support */
        user-select: none; /* Added for compatibility */
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .left-container .card {
        width: 15vw;
        height: 20vw;
        margin: 3px;
        /* border: 1px solid #333; */
    }

    .liked-cards-container
    {
        width: 100%;
        height: 50%;
        /* overflow-y: auto; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .left-container .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .liked-card {
      position: relative; /* or any other desired position */
      /* Add other styles as needed */
    }

}