body                /*Mix of body and tinder classes*/
{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D3557;
    overflow: hidden;
    margin: 0;
}

.bottom-contanier
{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: calc(90vh - 10px);
}

.left-container
{
    height: inherit;
    width: 33.5%;
    float: left;
}

.right-container
{
    height: inherit;
    width: 66.5%;
    float: right;
}

/* this centers the flick logo */
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 20vw;
}

/* Add a black background color to the top navigation */
.topnav 
{
    width: 100vw;
    height: 10vh;
    background-color: #A8DADC;
    overflow: hidden;
    border-top: solid;
    border-bottom: solid;
    border-color: #111;
    border-width: 5px;
}

/* The sidebar menu */
.sidenav 
{
    height: 100%;
    background-color: #333;
    overflow-y: scroll;
    border-right-style: solid;
    border-color: #111;
    border-width: 5px;
}

.sidenav-poster 
{
    display: inline-block;
    width: 10vw; /* Adjust the width as needed */
    height: 15vw; /* Adjust the height as needed */
    margin: 5px;
    border: 1px solid #333; /* Add a border around each poster */
}
.sidenav-poster:hover 
{
    transform: scale(1.1); /* Increase size on hover */
    transition: transform 0.2s;
}

.button                 /*Comparable to tinder--buttons button*/
{
    position: relative;
    background-color: #888;
    color: black;
    border: none;
    padding: 1vb 3vb;
    font-size: 5vb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button-container       /*Comparable to tinder--buttons class*/
{
    position: relative;
    left: 8.5%;
    margin:1 auto;
    display: flex;
}

.button:hover {background-color: #fff}

.button:active 
{
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.like               /*Comparable to fa-heart*/
{
    background-color: #00ff00;
    margin-left: 5vb;
    border-radius: 20%;
    bottom: auto;
}

.dislike            /*Comparable to fa-remove*/
{
    background-color: #ff0000;
    margin-right: 5vb;
    border-radius: 20%;
    bottom: auto;           /* Added this */
}

/* Add CSS styles to create the stacked effect */
.poster-container                                   /*Comparable to tinder--card*/
{
    position: relative;
    height: 70vb;
    width: 50vb;
    margin-bottom: 3vb;
    left: 5%;
}

.poster-image 
{
    position: absolute;
    width: 45vb;
    border: none;
}

/* Style the images based on their index */
.poster-image:nth-child(odd) 
{
    top: 15px;
    left: 15px;
}

/* Ensure that at least 5 cards are visible on the stack */
.poster-image:nth-child(n + 6) 
{
    display: none;
}

/* Filled out container */
.container
{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

h1 
{
    font-family: helvetica;
    font-size: 400%;
    color:black;
}

h2 
{
    font-family: helvetica;
    font-size: 200%;
    color: black;
}

.navbar 
{
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 100;
}

.change 
{
    right: 0;
}

.hamburger-menu 
{
    background-color: none;
    width: 5vw;
    height: 5vh;
    position: fixed;
    top: 3vh;
    right: 3vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line
{
    width: 80%;
    height: .5vh;
    background-color: #333;
    transition: all 0.8s;
}

.change .line-1 
{
    transform: rotateZ(-405deg) translate(0vw, 2.3vh);
    background-color: #fff;
}

.change .line-2
{
    opacity: 0;
}

.change .line-3 
{
    transform: rotateZ(405deg) translate(0vw, -2.3vh);
    background-color: #fff;
}

.nav-list 
{
    text-align: right;
}

.nav-item 
{
    list-style: none;
    margin: 25px;
}

.nav-link 
{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding-right: 3px;

}

.nav-link:hover         /* Added this */
{
    color: #fcd630;
}

.nav-link::before, .nav-link::after 
{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #262626;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after 
{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before 
{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before .nav-link:hover::after 
{
    transform: scaleX(1);
}