@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    height: 100vh;
    width: 300px;
    background-color: #1D3557;
}
h1 {
    color: #E63946;
    -moz-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    position: center;
}
#login-box {
    background-color: #457B90;
    background-image: url("flickworld.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: -83px 10px;
    width: 250px;
    height: 300px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 5px 10px black;
    border: 10px solid black;
    border-radius: 1px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
}
#login {
    background-color: #A8DADC;
    width: 100px;
    height: 35px;
    border-radius: 10px;
}
#login:hover {
    background-color: lightgreen;
    transition: 0.6s;
}
#email {
    width: 200px;
    height: 20px;
}
#password {
    width: 200px;
    height: 20px;
}
input[type="submit"] {
    background-color: #A8DADC;
}
input[type = "submit"]:hover {
    background-color: lightgreen;
    transition: 0.6s;
}
#left {
    background-color: #457B90;
    width: 350px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 5px 10px black;
    border: 10px solid black;
    border-radius: 1px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: ButtonText burlywood;
}
#Register-box {
    background-color: #457B90;
    width: 350px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 5px 10px black;
    border: 10px solid black;
    border-radius: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: ButtonText burlywood;
}
#forgot {
    text-decoration-color: #E63946;
}
footer {
    text-align: center;
    color: white;
    position: absolute;
    transform: translate(-55%, 450%);
    top: 50%;
    left: 50%;
}
