h1 {
    font-family: helvetica;
    font-size: 400%;
    color:white;
}

h2 {
    font-family: helvetica;
    font-size: 200%;
    color: white;
}

.tag-cloud {
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: #498AB5;
    margin-top: 8px;
    font-family: helvetica;
    cursor: default;
    opacity: 1;
    transition: 0.3s;
}
.tag-cloud:hover {
    color: white;
    opacity: 0.7
}
.tag-cloud:active {
    background-color: #153243;
}
.tag-cloud:focus {
    background-color: #153243;
}

button {
    cursor: default;
    border: none;
    background: transparent;
}
    button:hover {
        color: white;
        opacity: 0.7
    }

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/52e81a1ee4b047d1a5cc6e65/b2d4c840-d178-4ed8-acf2-30759159d4d5/Background-Narrow.jpg");
    background-color: #cccccc;
    background-size: cover;
}